@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

/* TAGS */
textarea {
  height: 20rem !important;
  resize: none;
  width: 42rem !important;
}


/* IDs */
#msg-form {
  margin-top: 8rem;
}
